
<footer> 

<!-- Footer -->
<footer class="container mt-5 mb-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <h6 class="fw-bold">Support</h6>
      <p>Help Centre</p>
      <p>Safety issues</p>
      <p>AirCover</p>
      <p>Cancellation options</p>
      <p>Report neighbourhood concern</p>
    </div>

    <div class="col">
      <h6 class="fw-bold">Hosting</h6>
      <p>Airbnb your home</p>
      <p>Airbnb your experience</p>
      <p>AirCover for Hosts</p>
      <p>Hosting resources</p>
      <p>Find a co-host</p>
    </div>

    <div class="col">
      <h6 class="fw-bold">Airbnb</h6>
      <p>2025 Summer Release</p>
      <p>Newsroom</p>
      <p>Careers</p>
      <p>Investors</p>
      <p>Airbnb.org emergency stays</p>
    </div>

  </div>
</footer>


<hr class="mt-5">

    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div class="f-info-brand">&copy: Wanderlust    Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>






