<% layout("layouts/boilerplate") %>
 <div class="row">
  <div class="col-8 offset-2">
    <br><br>
  <h3>Create a New Listing</h3>
  <form action="/listings" method="POST" novalidate class="needs-validation">
    <div class="mb-3">
      <label for="title" class="form-lable">Title</label>
      <input type="text" name="listing[title]" class="form-control"placeholder="Add a catchy title" required/>
      <div class="valid-feedback">Title looks good!</div>
    </div>

    <div class="mb-3"> 
      <label for="description" class="form-lable">Description</label>
      <textarea name="listing[description]" class="form-control" required ></textarea>
      <div class="invalid-feedback">Please enter short description</div>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image Link</label>
      <input name="listing[image]" placeholder="enter image URL/Link" type="text" class="form-control">
    </div>

    <div class="row">
      oadjf alkdfj 

    <div class="mb-3 col-md-4">
      <label for="price" class="form-lable">Price</label>
      <input name="listing[price]" placeholder="1200"  class="form-control" required>
      <div class="invalid-feedback">Please enter a valid Price</div>
    </div>

    <div class="mb-3 col-md-8">
      <label for="country" class="form-lable">Country</label>
      <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
      <div class="invalid-feedback">Country should be valid</div>
    </div>
    </div>

    <div class="mb-3">
      <label for="location" class="form-lable">Location</label>
      <input name="listing[location]" placeholder="
      jalandhar,Punjab" type="text" class="form-control" required>
      <div class="invalid-feedback">Location should be valid</div>
    </div>

    <br><br>
    <button class="btn btn-dark add-btn">Add</button> 
    <br><br>
  </form>
</div>
  </div>





